$page-container-height: 100vh;
$page-background-color: #cbc5c1;

body {
  overflow: scroll;
  height: 100vh !important;
  font-family: Futura;
  background-color: $page-background-color;
  padding: 0;
  margin: 0;
}




.page-container {
  display: flex;
  height: $page-container-height;
  border: 0;
  margin: 0;
  margin-top: 10px;
  background-color: $page-background-color;

}


$navbar-container-height: 50px;
$navbar-container-margin-bottom: 10px;

$navbar-container-background-color: #a2aab0;

.navbar-container {
  height: $navbar-container-height;
  display: flex;
  background-color: $navbar-container-background-color;

}

$navbar-logo-container-width: 20%;

.navbar-logo-container {
  width: $navbar-logo-container-width;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;

}

$navbar-left-margin: 40%;

.navbar-menu-container {
  width: 100% - $navbar-logo-container-width - ($navbar-left-margin /2);
  display: flex;
  align-items: center;
  margin-left: $navbar-left-margin;
}

$device-slider-width: 29%;

.device-slider-container {

  width: $device-slider-width;
  overflow: scroll;
  height: $page-container-height;
}

.navbar_menu {
  float: right;
  display: block;
}

.navbar_menu_item {
  float: left;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 15px;
  cursor: pointer;
  list-style: none;
}

.device-slider-add-alert {
  text-align: center;
  padding: 10px;
  background-color: #ebeced;
  color: #4c586f;
}

.device-slider-add-alert:hover {
  background-color: #d1d2d3;
  cursor: pointer;
}

$map-width: 100% - $device-slider-width;

.map-container {
  width: $map-width;
  height: $page-container-height;
}


.map {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  border: 2px solid black;
}