<!--<link rel="stylesheet" href="slider-device.css">-->
<!--<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">-->

<div class="slider-device-container">
    <div class="slider-device-icon-container">
        <i ng-if="device.type_of_device == 'car'" class="icon ion-model-s slider-device-icon"  ng-class="{'slider-icon-ok': device.needToAlert, 'slider-icon-not-ok': !device.needToAlert}"></i>
        <i ng-if="device.type_of_device == 'wallet'" class="icon ion-cash slider-device-icon"  ng-class="{'slider-icon-ok': device.needToAlert, 'slider-icon-not-ok': !device.needToAlert}"></i>
        <i ng-if="device.type_of_device == 'keys'" class="icon ion-key slider-device-icon"  ng-class="{'slider-icon-ok': device.needToAlert, 'slider-icon-not-ok': !device.needToAlert}"></i>
        <i ng-if="device.type_of_device == 'phone'" class="icon ion-iphone slider-device-icon " ng-class="{'slider-icon-ok': device.needToAlert, 'slider-icon-not-ok': !device.needToAlert}"></i>
    </div>

    <div class="slider-device-content-container">
        <div>
            <div class="slider-device-content-device-title">
                {{device.name}}
            </div>
            <div class="slider-device-content-device-location">
                {{device.location.address}}
            </div>
        </div>

    </div>

</div>