$slider-device-icon-container-width: 25%;
$slider-device-background-color: #ebeced;
$slider-device-icon-color: #4c586f;

.slider-device-container {
  height: 150px;
  //background-color: darkgray;
  width: 90% !important;
  margin-left: 5%;
  display: flex;
  margin-bottom: 10px;
  background-color: $slider-device-background-color;
}




.slider-device-icon-container {
  width: $slider-device-icon-container-width;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-device-icon {
  font-size: 10vh;
  color: $slider-device-icon-color;

}




.slider-device-content-container {
  width: 100 - $slider-device-icon-container-width;
  display: flex;
  align-items: center;
  justify-content: center;
}

$slider-device-content-device-title-padding: 10px;

.slider-device-content-device-title {
  text-align: center;
  padding-top: $slider-device-content-device-title-padding;
  padding-bottom: $slider-device-content-device-title-padding;
}

.slider-device-content-device-location {
  text-align: center;
  padding-top: $slider-device-content-device-title-padding;
  padding-bottom: $slider-device-content-device-title-padding;
}