<div class="btf-modal demo-modal">
    <a class="demo-modal-close" href ng-click="closeItemsModal()">x</a>

    <div class="alerts-modal-title">
        Add An Item
    </div>

    <div>
        <form action="">
            <input ng-model="itemsModalInfo.name" type="text" placeholder="Name">
            <input ng-model="itemsModalInfo.type_of_device" type="text" placeholder="Type Of Device">
            <input ng-model="itemsModalInfo.id" type="text" placeholder="ID">
        </form>
    </div>

    <div>
        <button ng-click="addItem(itemsModalInfo)">Add New Item</button>
    </div>



</div>