.demo-modal {
    border: 1px solid black;
    background-color: #ccc;
    padding: 5px;
}

.demo-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.alerts-modal-title {
    text-align: center;
}

.alerts-modal-list-of-alerts {

}

.alerts-modal-list-alert {

}